body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.input-box {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
  border-color: #279b8d;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #279b8d;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}
button:hover {
  background-color: #2c7474;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}
.edit-icon {
  color: yellow; /* لون القلم */
  cursor: pointer;
}




.delete-icon {
  color: #dc3545; /* لون سلة القمامة */
  cursor: pointer;
}

.delete-icon:hover {

  color: #a71d2a; /* لون عند التمرير */

  color: #a71d2a; /* لون عند التمرير */

}
.input-container {
  position: relative;
  text-align: left;
}
.input-container i {
  position: absolute;
  background-color: #279b8d;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  margin-left: 1px;
}
.container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.container li {
  width: 30%;
}

.containerlist {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.containerlist button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #279b8d;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* المسافة بين الأزرار */
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.containerlist button:hover {
  background-color: #2c7474;
}
.list-box {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 15px;
}

.task-text {
  transition: color 0.3s, text-decoration 0.3s;
}

.task-done {
  color: red;
  text-decoration: line-through;
}

.task-checkbox {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  appearance: none; /* إزالة التصميم الافتراضي */
  background-color: white; /* الخلفية الافتراضية بيضاء */
  border: 2px solid green; /* الحدود خضراء */

  cursor: pointer;
  display: inline-block;
}

.task-checkbox:checked {
  background-color: white; /* الخلفية تبقى بيضاء عند التحديد */
  border-color: green; /* الحدود تبقى خضراء */
  color: green; /* لون الإشارة أخضر */
  position: relative;
}

.task-checkbox:checked::after {
  content: "✓"; /* علامة الصح */
  color: green; /* لون علامة الصح أخضر */
  font-size: 12px;
  position: absolute;
  left: 3px; /* ضبط الموضع الأفقي */
  top: -2px; /* ضبط الموضع العمودي */
  border-width: 0 5px 3px 0;
  width: 5px;
  height: 10px;
}


i {
  margin-left: 10px;
  cursor: pointer;
}
.taskList {
  width: 100%; /* تعيين العرض الكامل داخل container */
  margin: auto;
  box-sizing: border-box;
  padding-top: 20px; /* إضافة بعض المسافة العلوية إذا لزم الأمر */
}
.modal {

  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.save-button {
  background-color: #279b8d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #2c7474;
}

.cancel-button:hover {
  background-color: #c82333;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.save-button {
  background-color: #b5d6ac;
  color: white;
  border: none;
  width: 70px;
  height: 30px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  border: none;
  display: flex;
  width: 70px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.save-button:hover {
  background-color: #8c97a1;
}

.cancel-button:hover {
  background-color: #c82333;
}
.button-container {
  display: flex; /* لتكون الأزرار في صف واحد */
  justify-content: center; /* لمحاذاة الأزرار في المنتصف */
  gap: 20px; /* المسافة بين الأزرار */
  margin: 0 auto; /* لإبعاد الحاوية عن الأطراف وجعلها في المنتصف */
  padding: 20px; /* إضافة مسافة داخلية للحاوية */
  width: 82%; /* تحديد عرض الحاوية بالكامل */
  margin-left: 120px;
}

.delete-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dc3545; /* لون الخلفية */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1; /* لجعل الأزرار متساوية الحجم */
}

.delete-button:hover {
  background-color: #c82333; /* لون عند التمرير */
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 10px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.save-button {
  background-color: #8c97a1;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:disabled {
  background-color: rgb(141, 82, 82); /* اللون الأحمر عند التعطيل */
  cursor: not-allowed; /* إزالة إمكانية الضغط */
  opacity: 0.6; /* جعل الزر يبدو غير مفعّل */
}

button:disabled:hover {
  background-color: rgb(97, 73, 68); /* عدم تغيير اللون عند التمرير */
}
.delete-all {
  background-color: red !important;
}
.delete-button {
  background-color: red !important;
}
.model{
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #f9f9f9;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 30%;
border-radius: 10px;
text-align: center;
}

.modal-buttons {
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.save-button {
background-color: #279b8d;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

.cancel-button {
background-color: #dc3545;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

.save-button:hover {
background-color: #2c7474;
}

.cancel-button:hover {
background-color: #c82333;
}
.modal {
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #f9f9f9;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 30%;
border-radius: 10px;
text-align: center;
}

.modal-buttons {
display: flex;
justify-content: space-around;
margin-top: 20px;
}

.save-button {
background-color: #b5d6ac;
color: white;
border: none;
width: 70px;
height: 30px;
display: flex;
cursor: pointer;
border-radius: 5px;
text-align: center;
justify-content: center;
align-items: center;
}

.cancel-button {
background-color: #dc3545;
color: white;
border: none;
display: flex;
width: 70px;
height: 30px;
cursor: pointer;
border-radius: 5px;
justify-content: center;
align-items: center;
}

.save-button:hover {
background-color: #8c97a1;
}

.cancel-button:hover {
background-color: #c82333;
}
.button-container {
display: flex; /* لتكون الأزرار في صف واحد */
justify-content: center; /* لمحاذاة الأزرار في المنتصف */
gap: 20px; /* المسافة بين الأزرار */
margin: 0 auto; /* لإبعاد الحاوية عن الأطراف وجعلها في المنتصف */
padding: 20px; /* إضافة مسافة داخلية للحاوية */
width: 82%; /* تحديد عرض الحاوية بالكامل */
margin-left: 120px;
}

.delete-button {
padding: 10px 20px;
font-size: 16px;
background-color: #dc3545; /* لون الخلفية */
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
flex: 1; /* لجعل الأزرار متساوية الحجم */

}

.delete-button:hover {
background-color: #c82333; /* لون عند التمرير */
}
.modal {
display: none;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #f9f9f9;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 20%;
border-radius: 10px;
text-align: center;
}

.modal-buttons {
display: flex;
justify-content: center;
gap: 10px;
margin-top: 20px;
}

.save-button {
background-color:#8c97a1;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

.cancel-button {
background-color: #dc3545;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}
button:disabled {
background-color: rgb(141, 82, 82); /* اللون الأحمر عند التعطيل */
cursor: not-allowed; /* إزالة إمكانية الضغط */
opacity: 0.6; /* جعل الزر يبدو غير مفعّل */
}

button:disabled:hover {
background-color: rgb(97, 73, 68); /* عدم تغيير اللون عند التمرير */
}
.delete-all{
background-color: red !important;
}
.delete-button{
background-color: red !important;
}