body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}
.input-box {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 10px 40px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
  border-color: #279b8d;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #279b8d;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
}
button:hover {
  background-color: #2c7474;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}
.edit-icon {
  color: yellow; /* لون القلم */
  cursor: pointer;
}




.delete-icon {
  color: #dc3545; /* لون سلة القمامة */
  cursor: pointer;
}

.delete-icon:hover {

  color: #a71d2a; /* لون عند التمرير */

  color: #a71d2a; /* لون عند التمرير */

}
.input-container {
  position: relative;
  text-align: left;
}
.input-container i {
  position: absolute;
  background-color: #279b8d;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  margin-left: 1px;
}
.container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.container li {
  width: 30%;
}

.containerlist {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.containerlist button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #279b8d;
  color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* المسافة بين الأزرار */
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.containerlist button:hover {
  background-color: #2c7474;
}
.list-box {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 15px;
}

.task-text {
  transition: color 0.3s, text-decoration 0.3s;
}

.task-done {
  color: red;
  text-decoration: line-through;
}

.task-checkbox {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  appearance: none; 
  background-color: white;
  border: 2px solid green; 

  cursor: pointer;
  display: inline-block;
}

.task-checkbox:checked {
  background-color: white;
  border-color: green;
  color: green;
  position: relative;
}

.task-checkbox:checked::after {
  content: "✓"; 
  color: green; 
  font-size: 12px;
  position: absolute;
  left: 3px; 
  top: -2px; 
  border-width: 0 5px 3px 0;
  width: 5px;
  height: 10px;
}

